
body {
	font-family: helvetica;
	font-size: 1.5em;
	background: black;
	color: #ccc;
}

#container {
	position: absolute; 
	width: 816px; 
	height: 624px;
	margin: 5px;
	padding: 10px;
	z-index: 0;
}

#canvas {
	position: absolute;
	width: 544px;
	height: 416px;
	z-index: 10;
}

.row {
	background: green;
}

.tile {
	background: green;
}