
body {
	font-family: helvetica;
	font-size: 1.5em;
	background: black;
	color: #ccc;
}

#container {
	position: absolute; 
	width: 816px; 
	height: 624px;
	margin: 5px;
	padding: 10px;
	z-index: 0;
}

#arena {
	position: absolute;
	width: 544px;
	height: 416px;
	z-index: 10;
}

.row {
	background: green;
}

.tile {
	background: green;
}

.player {
  position: absolute;
  width: 36px;
  height: 72px;
}

#player_1 {
  background: url(images/player-1.png);
}

#player_2 {
  background: url(images/player-2.png);
}

#player_3 {
  background: url(images/player-3.png);
}

#player_4 {
  background: url(images/player-4.png);
}